@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------------- Variables ------------------------ */

:root{
    /* text colors */
    --text-gray : #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark : #1A3260;
    --text-dark2 : #1A3760D4;
    --text-red : #ff4d6d;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow:rgb(255, 255, 246);
    --bg-purple: rgb(246, 255, 255);

    /* font familiy */
    --font-poppins : "Poppins", 'sans-serif';
}

/* ------------------- /Variables ------------------------ */